// Removes all list styles, margin and padding
ulReset()
    ul
        list-style none
        margin 0
        padding 0

// Centers children vertically and horizontally using flex
flexCenter()
    display flex
    align-items center
    justify-content center