//======================================
//=              COLOURS               =
//======================================

$brandAccentLight = #D2DEE2
$brandAccent = #629AA9
$brandAccentDark = #4E7B87

$brandPrimary = #FFF

$brandSecondary = #F6F6F6
$brandSecondaryDark = #CCCCCC


// fonts
$fontColourLight = $brandPrimary
$fontColourDim = #D2DEE2
$fontColour = #888888
$fontColourDark = #434343

// Gradients
$headerGradient = linear-gradient(0deg, #59695C, rgba(0,0,0,0))

// Buttons
$buttonColorHeader = $brandPrimary
$buttonColor = #4C4C4C
$buttonColorFooter = #2F2F2F

//======================================
//=              LAYOUT                =
//======================================

$wrapperWidth = 1170px
$full = 100%
$half = 50%
$third = 33.3%
$forth = 25%
$fifth = 20%

//======================================
//=      FONTS AND HEADING SIZES       =
//======================================

// Used for most paragraphs and other large bodies of text
$openSans = 'Open Sans', sans-serif

// Used for Headers
$raleway = 'Raleway', sans-serif