/* Colours */
$lightyellow: #FFE4E1;
$lightgrey: #D3D3D3;
$lightblue: lightsteelblue;
$pink: #ff4e4e;
$white: #FFF;
$blue: #2F4F4F;
$green: #556B2F;
$red: #8B0000;
$mediumred: #B22222;

/* Layout */

$wrapperWidth: 800px;